@import '../../styles/Root.scss';

.container {
    @include wireframe($pd-top);
    height: 100vh;
    overflow: hidden;
    .swiper {
        @include swiper(80px);

        .swiper-slide {
            padding: 24px;
            @include swiper-slide(80px);
        }
    }
}
.pd-box {
    padding: 24px;
}
