@import '../../styles/Root.scss';

.container {
    @include wireframe($pd-top40);
    padding-bottom: 0;
    .content {
        height: 600px;
        @include flex-center(center);
        flex-direction: column;
        padding: $padding-side;
        .title {
            color: $main-color;
            font-size: 24px;
        }
        .order-number {
            font-size: 14px;
            color: #9999;
            padding: 15px 0;
        }
        .msg {
            margin-top: 120px;
            width: 100%;
            line-height: 1.5;
            background: #ebebeb;
            padding: 15px;
            display: flex;
            flex-direction: column;
            font-size: 0.8rem;
            text-align: center;
            word-break: keep-all;
            .bank-box {
                display: flex;
                padding: 5px 0;
                .bank-name {
                    color: #444;
                }
                .bank-value {
                    color: #777777;
                    padding-left: 10px;
                }
            }
            .no-auth{
                color: #333;
                font-size:0.7rem;
            }
        }
    }
    .order-list {
        .title {
            color: #333;
            font-size: 18px;
            font-weight: bold;
            padding: 15px 24px;
            background-color: #f9f9f9;
            &.between {
                display: flex;
                justify-content: space-between;
                .order-type {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid $main-color;
                    background-color: #fff;
                    border-radius: 16px;
                    font-size: 14px;
                    color: $main-color;
                    width: 80px;
                    height: 32pxs;
                }
            }
        }

        .list {
            background-color: white;
            padding: $padding-all;

            .name {
                font-size: 18px;
                font-weight: bold;
                color: #333;
                padding: 5px 0;
            }
            .user-info {
                padding: 5px 0;
                color: #777777;
                font-size: 14px;
            }
            .payment-info {
                display: flex;
                line-height: 1.5;
                justify-content: space-between;
                font-size: 14px;
                color: #444444;
                margin: 5px 0;
                &:first-child {
                    margin: 0;
                }
            }
        }
        .button-box {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: $padding-all;

            .btn {
                @include flex-center(center);
                width: 156px;
                height: 56px;
                border: 1px solid $main-color;
                border-radius: 2px;
                box-sizing: border-box;
                font-size: 16px;
                color: $main-color;
                &.on {
                    background-color: $main-color;
                    color: #fff;
                    font-weight: bold;
                }
            }
            .cancle-btn {
                @include flex-center(center);
                width: 100%;
                height: 56px;
                border: 1px solid $main-color;
                border-radius: 10px;
                box-sizing: border-box;
                font-size: 16px;
                margin: 0 5px;
                color: $main-color;
                &.status {
                    border: 1px solid #ebebeb;
                    background-color: #fff;
                    color: #222;
                }
            }
        }
    }
}
