@import '../../styels/Root.scss';
.order{
    margin: 0 auto;
    width: 100%;
    margin-top :$mg-top;
    max-width: $max-width;
    min-width: $min-width;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    .title{
        font-size: 20px;
        font-weight: bold;
        background-color: #F9F9F9;
        display: flex;
        align-items: center;
        height: 56px;
    }
    .table{
        display: flex;
        flex-direction: column;
        margin: 20px 0 ;
        font-size: $font-size;
        .text-info{
            display: flex;
            flex-direction: row;
            margin: 10px 0;
            border: 0px solid red;
           
            .text{
                width: 450px;
                border: 0px solid black;
                font-size: $font-size;

            }
            .info{
                width: 100%;
                border: 0px solid black;

                font-size: $font-size;
                &.row{
                    display: flex;
                    flex-direction: row;
                    .auth-btn{
                        width: 100px;
                        height: 56;
                        border: 1px solid $main-color;
                        display: flex;
                        color :$main-color;
                        font-size: 11px;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .input{
                    width: 100%;
                    border: 1px solid #EBEBEB;
                    box-sizing: border-box;
                    background-color: white;
                    height: 56px;
                    margin: 0;
                    padding-left: 15px;
                    &.normal{

                    }
                    &.auth{

                    }
                }
            }
        }
        .date-picker{
            border: 0px solid black;
        }
        .input-save{
            font-size: $font-size;
            display: flex;
            justify-content: space-between;
        }
        .value{
            width: 100%;
            margin: 10px 0;
            .input{
                width: 100%;
                border: 1px solid #EBEBEB;
                box-sizing: border-box;
                background-color: white;
                height: 56px;
                margin: 0;
                padding-left: 15px;
            }
            .payment{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 56px;
                width: 100%;
                border: 1px solid $main-color;
                color :$main-color;
            }
        }

        .total-order{
            margin: 20vpx 0;
            .item{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .total-table{
                    width: 100%;
                    border: 1px  solid #DBDBDB;
                    box-sizing: border-box;
                }
                .text-cost{
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                    &.title{
                        background-color: $main-color; 
                        border: 1px  solid $main-color;
                        box-sizing: border-box;
                        width: 100%;
                        height: 56px;
                        color: white;
                        font-size: 16px;
                        font-weight: bold;
                    }
                    &.info{
                        font-size: 14px;
                    }
                }
            }
        
        }
    }

    .order-info{
        display: flex;
        flex-direction: column;
        border: 0px solid black;
        width: 100%;

        .box{
            display: flex;
            justify-content: space-between;
            margin: 5px 0;      
            font-size: 14px;      
            .sub-title{
                font-size: 16px;
                margin: 20px 0 10px 0;
            }
        }
        .line{
            border-bottom: 1px solid rgb(199, 199, 199);
        }
 
    }
}
.pd-box{
    padding: 0 24px;
    box-sizing: border-box;
}
.pd-in{
    width: 100%;
    padding: 5px 30px;
}
.mg-top{
    margin: 2px 0;
}
.pd-top{
    padding-top:30px;
}
.bt-mg{
    margin-top: 10px;
    margin-bottom: 70px;
}
.bg-color{
    background-color: #F9F9F9;
}