@import '../../styles/Root.scss';

.detail-order-item {
    width: 100%;
    height: 104px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 24px;
    &:first-child {
        margin-top: 0;
    }
    .menu-img {
        img {
            width: 104px;
            height: 104px;
        }
    }
    .menu-info {
        display: flex;
        flex-direction: column;
        padding: $padding-side;
        width: 100%;
        .menu-options {
            display: flex;
            font-size: 12px;
            flex-wrap: wrap;
            flex-direction: row;
            color: #999;
            padding: 5px 0;
        }
    }
}
