@import '../../styles/Root.scss';

    .cart-item{
        width: 100%;
        height: 192px;
        margin: 10px 0;
        box-sizing: border-box;
        background-color: white;
        &:first-child{
            margin:0;
        }
        .item-box{
            display: flex;
            justify-content: center;
            flex-direction: column;
            .item{
                display: flex;
                flex-direction: row;
            .item-img{
                width: 120px;
                height: 120px;
                margin-right:24px;
                border: 0px solid black;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                img{
                    width: 120px;
                    height: 120px;

                }
            }

            .item-info{
                width: 100%;
                display: flex;
                flex-direction: column;
                font-size: $font-size;
                .bar{
                    display: flex;
                    justify-content: space-between;
                    font-size: 20px;
                    .name{
                        font-size: 15px;
                        font-weight: bold;
                        margin: 5px 0;
                    }
                    .delete{
                        cursor: pointer;
                        color : #999999;
                    }
                }
                .options{
                    font-size: $font-size;

                    color:#999999;
                    margin: 5px 0;

                }
                .count-price{
                    font-size: $font-size;

                    display: flex;
                    justify-content: space-between;
                    margin: 5px 0;

                    .count{
                        width: 100%;
                        display: inline-flex;
                    }
                    .price{
                        width: 100%;
                    }
                }
            }
        }
    }
    .price{
        display: flex;
        justify-content: flex-end;
        font-size: 16px;
        margin-top: 10px;
        font-weight: bold;
    }
}

.cart_link{
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom :108px;
    right: 24px;
    z-index:999;
    width: 64px;
    height: 64px;
    border-radius: 100px;
    background-color:#fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

 .pd-box{
    padding: $padding-all;
}