$max-width: 768px;
$min-width: 320px;
$font-size :12px;
$mg-top :40px;
$padding : 50px 24px 50px 24px;
$padding-side :24px;
$padding-left-right : 0 24px;
$main-color:#007246;
$normal-color:#999999;
$border-radius :10px;