@import '../../styles/Root.scss';

.btn {
    box-sizing: border-box;
    height: 73px;
    overflow: hidden;
    position: fixed;
    bottom: 0px;
    left: 0;
    z-index: 1200;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $normal-color;
    color: white;
    padding-bottom: 13px;
    transition: background-color 0.15s ease-in-out;
    &.on {
        background-color: $main-color;
    }    
}