.sign-btn{
    margin-top:10px;
    margin-top: 10px;
    width: 100%;
    height: 75px;
    cursor: pointer;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        background-color: rgb(226, 226, 226);
    }
}