.btn{
    height: 50px;
    overflow: hidden;
    position: fixed; bottom:0px; left: 0;
    width: 100%;
    cursor: pointer;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 226, 226);
    &:hover{
        background-color: rgb(226, 226, 226);
    }
}
.bottom-btn{
    position:absolute; bottom:0px;
}