@import '../../styles/Root.scss';

.container {
    @include wireframe($pd-top);
    background-color: #f9f9f9;
    height: 100vh;
    overflow: hidden;

    .swiper {
        @include swiper($pd-top);
        .swiper-slide {
            @include swiper-slide($pd-top);
        }
    }

    &.list {
        background-color: transparent;
    }
}
