@import '../../styles/Root.scss';

.container {
    @include wireframe($pd-top);

    .title {
        background-color: #f9f9f9;
        padding: 0 24px;
        height: 48px;
        display: flex;
        align-items: center;
        .text {
            color: #333;
            font-size: 16px;
        }
    }

    .select-area {
        width: 100%;
        padding: 24px;
        button {

            border-radius: 10px;
        }
        .input-box {
            width: 100%; height: 56px;
            padding: 0.8em 24px; /* 여백으로 높이 설정 */
            border: 1px solid #ebebeb;
            border-radius: 10px; /* iOS 둥근모서리 제거 */

            color: #555;
            font-weight: 500;
        }
    }
}
