
.pd-box{
    padding: 10px;
}

.coupon-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .coupon-item{
        width: 340px;
        height: 150px;
        position: relative;
        border: 0px solid black;
        .coupon{
         border: 1px solid black;
         width: 100%;
         height: 130px;
         .event-name{
             font-size: 20px;
             margin-bottom: 20px;
         }
          .data{
            position: relative;
          }
          .down{
            border: 0px solid red;
            position: absolute;
            top:70px;
            left:280px;
            cursor: pointer;
        }
     }
    }
}
.use-coupon-item{
    display: flex;
    flex-direction: row;
    .td{
        width: 100%;
        border: 0px solid black;
        display: flex;
        justify-content: center;
    }

}
.use-coupon-table{
    display: flex;
    flex-direction: column;
    .tr{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        border-top :3px solid gray;
        padding : 10px 0;
        border-bottom:  1px solid gray;
        margin: 10px 0;
        .event-name{
            width: 100%;
        }
        .order-number{
            width: 100%;
        }
        .sale{
            width: 100%;
        }
        .use-date{
            width: 100%;
        }
    }
}
