@import '../../styels/Root.scss';
.pd-box{
    padding: 10px;
}

.coupon-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 70px;
    .coupon-item{
        width: 100%;
        height: 150px;
        position: relative;
        border: 0px solid black;
        .item{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .info{
                border:0px solid black;
            }
        }
        .coupon{
         border: 1px solid black;
         width: 100%;
         height: 130px;
         .event-name{
             font-size: 20px;
             margin-bottom: 20px;
         }
          .data{
            position: relative;
          }
          .down{
              border: 0px solid red;
              display: flex;
              justify-content: center;
              align-items: center;
          }

     }
    }
}
.use-coupon-item{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(187, 187, 187);

    .td{
        width: 100%;
        display: flex;
    }
    .title{
        font-size: 16px;
        font-weight: bold;
        margin: 5px 0;
    }
    .date{
        font-size: 10px;
        color:#999999;
        margin: 5px 0;
    }

}
.use-coupon-table{
    display: flex;
    flex-direction: column;
    font-size: $font-size;
    margin-bottom: 70px;
    .tr{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        border-top :3px solid gray;
        padding : 10px 0;
        border-bottom:  1px solid gray;
        margin: 10px 0;
        .event-name{
            width: 100%;
        }
        .order-number{
            width: 100%;
        }
        .sale{
            width: 100%;
        }
        .use-date{
            width: 100%;
        }
    }
}
