@import '../../styles/Root.scss';

.pd-box {
    padding: 25px;
    // border: 1px solid red;
}
.pd-side {
    padding: 10px;
}

.coupon-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 70px;
    .coupon-item {
        width: 100%; height: 168px;
        position: relative;
        display: flex;
        margin-top:24px;

        &:last-child{
            margin-bottom: 24px;
        }
        justify-content: space-between;
        margin-top: 24px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        background-color: #fff;
        border: 2px solid #dbdbdb;
        overflow: hidden;
        transition: border .15s cubic-bezier(0.77, 0, 0.175, 1);
        &.select {
            border: 2px solid $main-color;
            .info {
                .event-name {
                    color: $main-color;
                }
            }
        }
        &:last-child {
            margin-bottom: 24px;
        }
        .check {
            width: 80px; height: 100%;
            @include flex-center(center);
            border-right: 1px dashed #999999;
            background-color: #f9f9f9;
        }
        .info {
            width: 100%;
            font-size: $font-size;
            color: #999999;
            text-align: left;
            .event-name {
                font-weight: bold;
                font-size: 16px;
                color: #333333;
                margin: 10px 0 30px 0;
                margin-bottom: 30px;
                transition: color .15s cubic-bezier(0.77, 0, 0.175, 1);
            }
            .text {
                margin: 5px 0;
                font-size:14px;
                color :#555;
            }
        }
    }
}
