@import '../../styels//Root.scss';

.cart-page{
    max-width: $max-width;
    min-width: $min-width;
    margin :0 auto;
    width: 100%;
    border: 0px solid black;
    height: 100vh;
    .bar{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        border: 0px solid red;
    }
    .cart-list{

    }

    .finally{
        margin: 150px 0 150px 0;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        font-size:20px;

        .pd-box{
            padding: 50px;

        .finally-price{
            display: flex;
            justify-content: space-between;
            margin: 20px 0;
        }
        .order-text{
            display: flex;
            justify-content: flex-end;
            font-size: 14px;
            color :#999999;
            margin: 20px 0;
        }
        .estm{
            .title{
                margin-bottom: 20px;
            }
        }
        .btn{
            border: 0px solid black;
            display: flex;
            justify-content: center;
            margin-top: 50px;
            .btn-name{
                text-align: center;
                width: 250px;
                height:auto;
                border: 1px solid black;
                cursor: pointer;
                &:hover{
                    background-color: rgb(233, 233, 233);
                }
            }
        }
     }



    }

}