@import '../../styels//Root.scss';

.cart-page{
    max-width: $max-width;
    min-width: $min-width;
    margin :0 auto;
    width: 100%;
    background-color: #F9F9F9;
    .bar{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        border: 0px solid red;
    }
    .cart-list{

    }

    .finally{
        margin-bottom: 50px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        font-size: 16px;
        color: $normal-color;
        .title{
            &.total{
                color:black;
                font-weight: bold;
            }
        }

        .pd-box{
            padding: $padding-side;

        .finally-price{
            display: flex;
            justify-content: space-between;
            margin: 20px 0;
        }
        .order-text{
            text-align: center;
            font-size: $font-size;
            color :#999999;
            margin: 20px 0;
        }
        .estm{
            margin: 10px 0;
            .title{
                margin-bottom: 20px;
            }

        }

     }



    }

}