@import '../../styles/Root.scss';

.map-modal{

    display: block;
    position: fixed;
    // max-width: $max-width;
    // margin:0 auto;
    left:0 ;
    right:0;
    top: 100%;
    z-index: 2000;
    width: 100%;
    transition:all .3s ease-in-out;
    -webkit-transform: translateY(0);
    transform: translateY(0);

    &.on{
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

}

.back{
    z-index: 2100;
    position: absolute;
    top:24px;
    left: 24px;
}