.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 302px;
    height: 254px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;

    z-index: -1;
    visibility: hidden;
    &.open {
        z-index: 3000;
        visibility: visible;
    }
    .area {
        width: 100%;
        height: 100%;
        border: solid 1px #dbdbdb;
        .content {
            text-align: center;
            margin-top: 40px;
            padding: 0 20px;
            word-break: keep-all;
            line-height: 1.5;
            .title {
                font-weight: 500;
                font-size: 18px;
                color: #222;
            }
            .text {
                margin-top: 35px;
                font-size: 14px;
                color: #555;
            }
        }
    }

    .bottom {
        position: absolute;
        display: table;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 54px;

        .button {
            width: 100%;
            height: 100%;
            font-size: 18px;
            font-weight: 500;
            border: solid 1px #dbdbdb;
            &.active {
                border: none;
                background-color: #007240;
                color: #fff;
            }
        }
    }
    &.confirm {
        .button {
            width: 50%;
            &:first-child {
                border-bottom-left-radius: 10px;
            }
            &:last-child {
                border-bottom-right-radius: 10px;
            }
        }
    }
}
