@import '../../styels/Root.scss';
.item-box{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 20px 0;
    .main-title{
        font-size:23px;
        font-weight: bold;
        margin: 5px 0 5px 0;
    }
    .sub-title{
        font-size: 14px;
        margin: 5px 0 5px 0;

    }
    .text{
        font-size: 11px;
        margin: 15px 0 15px 0;
        color:#999999;

    }
}
