@import '../../styles/Root.scss';

.item-box{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 120px;
    margin: 16px 0 !important;
    &:first-child{
            margin :0 !important;
    }
    .main-title{
        font-size:16px;
        font-weight: bold;
        margin: 10px 0;
    }
    .sub-title{
        font-size: 14px;
        margin: 5px 0 5px 0;

    }
    .text{
        font-size: 11px;
        margin:10px 0;
        color:#999999;

    }
    &.line{
        border:1px solid #DBDBDB;
        color:$main-color;
        border-radius: 10px;
        .main-title{
        }
    }
}
