@import '../../styles/Root.scss';
.container {
    @include wireframe($pd-top);
    height: 100vh;
    overflow: hidden;

    .swiper {
        @include swiper($pd-top);
        .swiper-slide {
            @include swiper-slide($pd-top);
        }
    }

    .coupon-title {
        padding: 10px 24px;
    }
    .coupon-form {
        background-color: #fff;
        padding: 24px;
    }
    .code-input {
        width: 100%;
        border: 1px solid #999999;
        font-size: 14px;
        box-sizing: border-box;
        color: #999999;
        border-radius: 10px;
        height: 56px;
        padding-left: 16px;
        margin: 0;
    }
    .coupon-list {
        background-color: #f9f9f9;
        position: relative;
    }
    .submit-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $main-color;
        box-sizing: border-box;
        border-radius: 10px;
        width: 100%;
        height: 56px;
        color: $main-color;
        font-size: 16px;
        margin-top: 10px;
        background-color: #fff;
    }
}
.pd-box {
    padding: $padding-side;
}
.title {
    position: sticky;
    top: 80px;
    width: 100%;
    height: 40px;
    z-index: 10;
    background-color: #f9f9f9;
    max-width: $max-width;
    padding: 0 24px;
    margin: 0 auto;
    box-shadow: 0 0 10px gray;
    display: none;
    &.show {
        display: flex;
        align-items: center;
    }
}

.use-history {
    width: 100%; height: 40px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .date-selector {
        border: none;
        padding-right: 15px;
        color: #555;
        font-size: 14px;
        font-weight: 500;
    }
    .date-button {
        width: 40px; height: 40px;
        transition: all .5s ease-in-out;
        transform: scale(0) rotate(359deg);
        &.on {
            transform: scale(1) rotate(0deg);
        }
    }
}