@import '../../styles/Root.scss';
.container {
    @include wireframe($pd-top);
    width: 100%;
    background-color: #f9f9f9;

    .coupon-title {
        border: 0px solid red;
        padding: 10px 24px;
    }
    .coupon-form {
        background-color: #fff;
        padding: 24px;
    }
    .code-input {
        width: 100%;
        border: 1px solid #999999;
        box-sizing: border-box;
        color: #999999;
        border-radius: 10px;
        height: 56px;
        padding-left: 10px;
        margin: 0;
    }
    .coupon-list {
        background-color: #f9f9f9;
    }
    .submit-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $main-color;
        box-sizing: border-box;
        border-radius: 10px;
        width: 100%;
        height: 56px;
        color: $main-color;
        font-size: $font-size;
        margin-top: 10px;
        background-color: #fff;
    }
}
.pd-box {
    padding: $padding-side;
}
.sticky-title {
    display: flex;
    align-items: center;
    position: sticky;
    top: 80px;
    width: 100%;
    height: 40px;
    z-index: 10;
    // border:1px solid red;
    background-color: #f9f9f9;
}
.shadow {
    box-shadow: 0 0 10px gray;
    background-color:red;
}

// :global .react-swipeable-view-container> div {
//     overflow : visible !important;
// }

