@import '../../styels/Root.scss';
.coupon-tab{
    width: 100%;
    max-width:$max-width;
    min-width:$min-width;
    margin: 0 auto;
    .container{
        padding:$padding-side;
        background-color: #F9F9F9;
    }
}