@import '../../styles/Root.scss';

.main{
    max-width: $max-width;
    min-width: $min-width;
    margin: 0 auto;
    table{
        border-spacing: 0;
        border:none;
        width: 100%;
        margin: 20px 0 50px 0;
        min-width: 500px;
    }
    tr{
        border:none;
        .item{
            padding-right:50%;
        }
    }
    td{
        padding: 20px 0 20px 0;
        input{
            margin: 0;
        }
    }
}
.content{
    margin: 30px 0 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: grid;
    grid-template-columns: 300px 300px ;
    grid-template-rows: 50px 50px 50px;
}
