@import '../../styles/Root.scss';

.container{
    @include wireframe(40px);
    .context{
        padding :$padding-side;
        .input{
            margin-top:48px;
            position: relative;
            .close{
                position: absolute;
                right: 8px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .box{
            padding-bottom: 48px;
        }
    }
}


//회원가입창 비밀번호 일치 불일치
.compare {
    font-size: 12px;
    color: #a61332;
    text-align: left;
    margin-bottom: 30px;
    overflow: hidden;
    transition: all 0.15s ease-in-out;
    height: 20px;
    &.on {
        font-size: 12px;
        color: $main-color;
        margin-bottom: 30px;
    }
    &.not_view {
        height: 0px;
    }
}
