html body {
    .MuiIconButton-label {
        flex-direction: column;
    }
    .MuiIconButton-root {
        padding: 0;
    }
    .MuiButton-root {
        width: 100%; height: 100%;
        min-width: 0;
        padding: 0;
        text-transform: none;
        color: inherit;
        font-size: inherit;
        border-radius: 0;
    }
}

.swiper-container { 
   
    /* border:1px solid red; */
    /* height:500px; */ /* This solution causes gaps because the images are resized */
}
.swiper-wrapper{
    /* height: auto !important; */
}
.swiper-slide {
    border-top:5px solid red;
    max-height: 100vh;
    overflow-y: scroll;
    height: 100vh !important;

}