$max-width: 768px;
$min-width: 320px;
$font-size :12px;
$mg-top :80px;
$mg-top40 : 40px;
$padding-all : 24px;
$padding-side : 0 24px;
$main-color:#007246;
$normal-color:#999999;
$border-radius :10px;

@mixin animation ($delay ,$name){
    animation: $name .5s linear;
}

@mixin keyframe($name){
    @keyframes #{$name}{
        @content
    }
}
