@import '../../../styles/Root.scss';

.container {
    @include wireframe($pd-top);
    .swiper{
        @include swiper($pd-top);
        &.sub{
            .swiper-slide{
                overflow-y: scroll;
            }
        }
        .swiper-slide{
             @include swiper-slide($pd-top);
             overflow: hidden;
        }   
    }

    .menu-list-title {
    
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: bold;
        padding: 0 24px;
        margin-top:24px;
        &.sub{
            margin-top : 84px;
        }
    }

    .carousel {
        border: 0px solid black;
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        transition: all 0.3s;
        overflow: hidden;
        height: auto;
 
    }
    .banner {
        transition: all 0.3s;
        overflow: hidden;
        height: auto;
        width: 100%;
        cursor: pointer;
        img {
            width: 100%;
        }
    }
}


.mg-top {
    div {
        margin-top: 0;
    }
}


.categorys{
    position: sticky;
    top:0px;
    left:0;
    z-index: 3000;
    &.sub{
        border:1px solid red;
        top:60px;
    }
    padding: 15px 0;
    padding-left: 15px;
    background-color: #fff;
    .item{
        overflow-y: hidden;
        font-size: 12px;
        padding: 5px 15px;
        width: auto !important;
        border-radius: 100px;
        background-color: #e8e8e8;
        &.active{
            background-color: $main-color;
            color:#fff;
        }
    }
}