.container{
    width:90%;
    height: 130px;
    overflow: hidden;
}
.item{
    display:flex;
    justify-content: center;
    align-items: center;
    background: #e4e4e4;
    color: #fff;
    font-size: 36px;
    height: 100px;
}