@import '../../styles/Root.scss';

.menu-list{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: $max-width;
    
}
.menu-item{
    width: 150px;
    height: 260px;
    cursor: pointer;
    .menu-img{
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        img{
            width:152px;
            height: 200px;
        }
    }

    //메뉴 정보 텍스트 영역
    .menu-info{
        width: 100%;
        .menu-title{
            font-size: $font-size;
            font-weight: bold;
            margin: 5px 0 5px 0;
        }
        .menu-text{
            font-size: $font-size;
            color :#999999;
            margin: 5px 0 5px 0;
        }
        .menu-price{
            font-size: 16px;
            font-weight: bold;
        }
    }

}
.pd-box{
    padding: 0 10px;
}
