.custom-lists{
    display: flex;
    flex-direction: row;
    margin: 10px;
.custom-item{
    width: 400px;
    height: 200px;
    border :1px solid black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    .custom-img-list{
        display: flex;
        flex-direction: row;

        .custom-img{
            width: 70px;
            border: 1px solid black;
            margin: 0 5px 0 5px;

            img{
                width: 100%;
            }
        }
    }
    .custom-title-list{
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 1px solid red;
    }
    .custom-info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .custom-count{
            font-size: 14px;
            margin: 5px
        }
        .custom-price{
            font-size: 20px;
            font-weight: bold;
            margin:5px;
        }
    }
}
}