.custom-lists{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    .custom-item{
        border: 0px solid blue;
        box-sizing: border-box;
        position: relative;
        width: 328px;
        height: 240px;
        overflow: hidden;
        border-radius: 10px;
        display: flex;
        margin: 5px 0;
        flex-direction: column;

        .custom-img{
            width: 328px;
            height: 240px;
            position: relative;
            box-sizing: border-box;
            img{
                width: 328px;
                height: 240px;
                box-sizing: border-box;
            }

        }

        .custom-title-list{
            position: absolute;
            top:22px;
            left: 22px;
            font-size: 14px;
            color:white;
            z-index: 1000;
        }
        .custom-price{
            position: absolute;
            top:190px;
            left: 240px;
            font-size: 14px;
            color:white;
            font-weight: bold;
            z-index: 1000;
        }

    }
}
.dim{
    width: 328px;
    height: 240px;
    border: 0px solid red;
    position:absolute;
    top:0;
    left: 0;
    background-color: #000000;
    opacity: 0.3;
    z-index: 1;
}