.menu-list{
    display: inline-flex;
    flex-wrap: wrap;
}
.menu-item{
    width: 300px;
    height: 100%;
    border :1px solid black;
    cursor: pointer;
    border: 1px solid black;
    .menu-img{
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        img{
            border-bottom: 1px solid black;
            width:300px;
            height: 240px;
        }
    }

    //메뉴 정보 텍스트 영역
    .menu-info{
        width: 100%;
        padding: 0px 20px;
        .menu-title{
            font-size: 20px;
            font-weight: bold;
            margin: 5px 0 5px 0;
        }
        .menu-text{
            font-size:14px;
            color :#999999;
            margin: 5px 0 5px 0;
        }
        .menu-price{
            font-size:16px;
        }
    }

}

