@import '../../styles/Root.scss';

.event-list {
    list-style: none;
    margin: 0; padding: 0;
    margin-bottom: 70px;
}

.list-element {
    .preview {
        width: 100%;
        a {
            width: 100%;
            .banner {
                width: 100%;
            }
        }
    }
    & + & {
        margin-top: 16px;
    }
}