.content {
    .info {
        padding: 24px;
        min-height: 208px;
        .term {
            margin: 5px 0;
            font-size: 12px;
            color: #999;
        }
        .explain {
            margin-top: 20px;
            line-height: 2;
            font-size: 16px;
            color: #333;
        }
    }
    .label {
        display: flex;
        align-items: center;
        width: 100%; height: 40px;
        padding: 0 24px;
        border-top: solid 1px #EBEBEB;
        background-color: #F5F5F5;
        font-size: 14px;
        color: #aaa;
    }
    .precautions {
        padding: 24px;
        min-height: 140px;

        background-color: #F9F9F9;
        line-height: 2;
        font-size: 14px;
        color: #aaa;
    }
}