@import '../../styles/Root.scss';

.title {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    padding: 18px 24px;
}

.modal-input-box {
    select {
        width: 100%;
        height: 56px;
        padding: 0.8em 0.5em; /* 여백으로 높이 설정 */
        border: 1px solid #999;
        border-radius: 10px; /* iOS 둥근모서리 제거 */
    }
    input {
        width: 100%;
        height: 56px;
        padding: 0.8em 0.5em; /* 여백으로 높이 설정 */
        border: 1px solid #999;
        border-radius: 10px; /* iOS 둥근모서리 제거 */
        box-sizing: border-box;
        outline: none;
        transition: border .15s ease-in-out;
        &:focus {
            border-color: #222;
        }
    }
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    .title {
        font-size: 20px;
    }
    .btn {
        display: flex;

        justify-content: center;
        align-items: center;
        border: 1px solid black;
        font-size: 20px;
        width: 100%;
        height: 50px;
        cursor: pointer;
    }
}

.container {
    display: flex;
    flex-direction: column;
    word-break: keep-all;
    .modal-input-box {
        width: 100%;
        margin: 10px 0;
        position: relative;
        input {
            width: 100%;
            border: 1px solid #dbdbdb;
            transition: border .15s ease-in-out;
            &:focus {
                border-color: #007246;
            }
        }
        .search-btn {
            position: absolute;
            width: 50px;

            top: 2px;
            right: 5px;
            height: 50px;
            svg {
                width: 24px;
                height: 24px;
                fill: $main-color;
            }
        }
    }
    .result {
        width: 100%;
        font-size: 14px;
        padding-left: 5px;
    }

    .addrs-list {
        border-top:1px  solid #dbdbdb;
        border-bottom :1px solid #dbdbdb;
        width: auto;
        margin: 10px 0;
    }
    .select-addr {
        // border:1px solid red;
        width: 100%;
        min-height: 50px;
        display: flex;
        align-items: center;
        font-size: $font-size + 2;
        padding: 5px 0;
        line-height: 1.5;
    }
}

.modal-input {
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    outline: none;

    padding-left: 5px;
    transition: border .15s ease-in-out;
    &:focus {
        border-color: #007246;
    }
    &.md-top {
        margin-bottom: 24px;
        width: 100%;
        height: 50px;
    }
}

.search-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: auto;
    z-index: 10;
    background-color: #fff;
}

.empty {
    width: 50px;
    height: 50px;
}
