@import '../../styles/Root.scss';

.md-top {
    margin-bottom: 80px;
    width: 100%;
    height: 50px;
    outline: none;
    box-sizing: border-box;
}

.search-btn {
    cursor: pointer;
    @include flex-center(center);
    width: 20%;
    height: auto;
    z-index: 10;
    background-color: #fff;
    border: 0px solid red;
}

.btn {
    box-sizing: border-box;
    height: 60px;
    overflow: hidden;
    position: fixed;
    left: 0; bottom: 0px; 
    width: 100%;
    cursor: pointer;
    @include flex-center(center);
    background-color: $normal-color;
    color: white;
    padding-bottom: 13px;
    transition: background-color 0.15s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 2000;
    .item {
        width: 100%; height: 70px;
        @include flex-center(center);
        &.on {
            background-color: $main-color;
        }
    }
}

.coupon {
    width: 100%; height: 30px;
    margin-top: 30px;
    display: flex;
    font-size: 18px;
    flex-direction: column;
    .title {
        font-weight: bold;
        color: #333;
        margin: 5px 0;
    }
}
.empty {
    border: 0px solid red;
    width: 50px; height: 50px;
}
.pd-box {
    padding: $padding-side;
}
