@import '../../styles/Root.scss';



.container{
    .content{
        padding: 24px;
        p{
            width: 100%;
            font-size: 13px;
            color:#999;
            padding-bottom:15px;
            border-bottom: 1px solid #EBEBEB;
        }
        &:first-child{
            padding-bottom: 0;
        }
        .explan{
   
            p{
                font-size: 14px;
                color:#555;
                word-break: keep-all;
                line-height: 1.5;
                border:none;
                padding:0;
            }
        }
        .agree{
            p{
                font-size: 16px;
                color:#222;
                font-weight: 500;
                padding-bottom: 0;
                border:none;
            }
        }
    }
    .line{
        width: 100%;
        height: 32px;
        background-color: #F9F9F9;
    }
}
