@import '../../styles/Root.scss';

.container {
    margin-bottom: 73px;
    .guide {
        margin: 25px 0;

        .title {
            font-size: 18px;
            font-weight: 500;
            color: #444;
            padding: 0 24px;
        }
        .content {
            margin-top: 16px;

            .input-area {
                padding: 0 24px;

                .input-box {
                    width: 100%;
                    padding: 20px;
                    border-radius: 10px;
                    border: solid 1px #dbdbdb;

                    &.input-logo {
                        height: 160px;
                        .filebox {
                            display: none;
                        }
                        .label {
                            @include flex-center(center);
                            width: 100%;
                            height: 100%;
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            .add {
                                .import {
                                    width: 40px;
                                    height: 40px;
                                    @include flex-center(center);
                                    margin: 0 auto;
                                    border: solid 1px #dbdbdb;
                                    border-radius: 50%;
                                }
                                .text {
                                    color: #999;
                                    font-size: 14px;
                                    font-weight: 500;
                                    margin-top: 8px;
                                }
                            }
                        }
                    }
                    &.input-phrase {
                        height: 136px;
                        resize: none;
                        overflow: auto;
                        overflow-x: hidden;
                    }
                    &.input-preview {
                        height: 184px;
                        position: relative;
                        background-color: rgba(0, 0, 0, 0.05);
                        .circle {
                            position: absolute;
                            display: table;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            background-color: #fff;
                            border-radius: 50%;
                            box-sizing: border-box;
                            border: solid 1px #f9f9f9;
                            .box {
                                display: table-cell;
                                vertical-align: middle;
                                color: #dbdbdb;
                                position: absolute;
                                &.image {
                                    .name {
                                        font-size: 14px;
                                        font-weight: bold;
                                    }
                                    .logo {
                                        max-width: 50px;
                                        max-height: 50px;
                                        border-radius: 5px;
                                    }
                                }
                                &.text {
                                    .phrase {
                                        margin-top: 6px;
                                        font-size: 0.667rem;
                                        white-space: normal;
                                        word-break: normal;
                                        box-sizing: border-box;
                                        width: 100%;
                                        padding: 0 10px;
                                    }
                                }
                                &.left {
                                    top: 50%;
                                    right: 50%;
                                    transform: translateY(-50%);
                                }
                                &.right {
                                    top: 50%;
                                    left: 50%;
                                    transform: translateY(-50%);
                                }
                                &.top {
                                    width: 100%;
                                    left: 50%;
                                    bottom: 50%;
                                    transform: translateX(-50%);
                                }
                                &.bottom {
                                    width: 100%;
                                    left: 50%;
                                    top: 50%;
                                    transform: translateX(-50%);
                                }
                            }
                        }
                        .preview_out {
                            width: 160px;
                            height: 160px;
                            .preview_in {
                                padding: 15px;
                                width: 152px;
                                height: 152px;
                                border-color: #dbdbdb;
                            }
                        }
                    }
                }
            }
        }
    }
}
