@import '../../styles/Root.scss';


.point {
    width: 100%;
    height: 30px;
    margin: 40px 0 30px 0;
    display: flex;
    font-size: 18px;

    justify-content: space-between;
    align-items: center;
    .title{
        color:#444;
        font-weight: bold;
    }
    .value{
        color:$main-color;
    }
}

.empty{
    border: 0px solid red;
    width: 50px;
    height: 50px;;
}

.point-input-box{
    .title{
        color:#444;
        font-size: 18px;
        font-weight: bold;
    }
    .modal-input-box{
        margin : 15px 0;
        position: relative;
        .point-input{
            text-align: right;
            padding-right: 30px;
            font-size:18px;
            color:#333;
            border : 1px solid #dbdbdb;
            width: 100%;
            border-radius: 10px;
            height: 56px;
            padding-left: 15px;
        }
        .point-img{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top:1px;
            right:15px;
            // border:1px solid red;
            height: 54px;
            color:#333;
            font-size: 18px;
            z-index: 10px;
            background-color: white;
            font-weight: bold;
        }
    }
    .sub-title{
        font-size:14px;
        color:#999999;
    }
}