.content {
    .title {
        padding: 15px 24px;
        border-bottom: solid 5px #ebebeb;    
        .subject {
            font-size: 18px;
            font-weight: normal;
            color: #222;
        }
        .sub {
            margin-top: 20px;
            display: flex;
            align-items: center;
            font-size: 12px;
            color: #777;
            .tag {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 56px; height: 24px;
                border: solid 1px #777;
                &.complete {
                    border-color: #007246;
                    color: #007246;
                }
            }
            .q_time {
                margin-left: 20px;
                font-weight: 500;
            }
        }
    }
    .question {
        padding: 24px;
        line-height: 1.6;
    }
    .answer {
        margin-top: 40px;
        border-top: solid 2px #222;
        border-bottom: solid 2px #222;
        background-color: #f9f9f9;
        padding: 24px;
        line-height: 1.6;
        .a_time {
            color: #777;
            font-size: 12px;
            font-weight: 500;
            border-bottom: solid 1px #777;
        }
        .text {
            padding: 24px 0;
        }
    }
}



.interaction {
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%; height: 60px;
    .button {
        width: 100%; height: 100%;
        font-size: 16px;
        &.delete {
            background-color: #f9f9f9;
        }
        &.update {
            background-color: #007246;
            color: #fff;
        }
    }
}