@import '../../styles/Root.scss';

.container {
    @include wireframe($pd-top);
    height: 100vh;
    overflow: hidden;
    .swiper{
        @include swiper($pd-top);
        .swiper-slide{
             @include swiper-slide($pd-top);
        }   
    }

    .menu-list-title {
    
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: bold;
        padding: 0 24px;
        margin-top:24px;
  
    }

    .carousel {
        min-height: 200px;
        border: 0px solid black;
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        transition: all 0.3s;
        overflow: hidden;
        height: auto;
 
    }
    .banner {
        transition: all 0.3s;
        overflow: hidden;
        height: auto;
        width: 100%;
        cursor: pointer;
        img {
            width: 100%;
        }
    }
}


.mg-top {
    div {
        margin-top: 0;
    }
}


.categorys{
    position: sticky;
    top:0px;
    left:0;
    z-index: 3000;

    padding: 15px 0;
    padding-left: 15px;
    background-color: #fff;
    border-bottom: solid 1px #dbdbdb;
    .item{
        overflow-y: hidden;
        font-size: 12px;
        color: #999;
        width: auto !important;
        border-radius: 20px;
        border: solid 1px #DBDBDB;
        background-color: #fff;
        font-weight: normal;
        transition: all .15s ease-in-out;
        button {
            padding: 7px 15px;
            font-size: 12px;
        }
        &.active{
            border-color: #007246;
            button{
                font-weight: bold;
                color: #007246;
            }
        }
    }
}