@import '../../styels//Root.scss';

.header{
    height: 70px;
    min-width: $min-width;
    background-color: rgb(245, 245, 245);
    color:black;
    padding-top: 25px;
    padding-bottom: 25px;

    .header-nav{
        display: flex;
        height: 100%;
        align-items: center;
        max-width: $max-width;
        margin: 0 auto;

        .header-logo{
            width: 300px;
            height: 100%;
            border: 1px solid black;
            cursor: pointer;

            .header-logoimg{
                width: 100%;
                height: 100%;
            }
        }

        .header-menu{
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            border: 1px solid black;
        }

        .header-user{
            display: flex;
            align-items: center;
            width: 350px;
            height: 100%;
            border: 1px solid black;
            cursor: pointer;
        }
        
    }
}

.header ui{
    list-style:none;
    padding-left:0px;
}
.header li{
    float: left;
    margin: 0 30px 0 30px;
    cursor: pointer;
}

