@import '../../styels//Root.scss';
.app-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: $min-width;

    .app-title-main{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        background-color: gray;
    
        .app-title-content{
            display: flex;
            justify-content: space-between;
            max-width: $max-width;
            min-width:$min-width;
            width: 100%;
            height: 50px;
            border: 0px solid red;
            color:white;
            font-size:22px;
            .app-title-maintitle{
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;
            }
            .app-title-location{
                display: flex;
                align-items: center;
                width: 100%;
                height: auto;
                cursor: pointer;
            }
    
        }
    }

    .app-title-sub{
        display: flex;
        align-items: center;
        max-width: $max-width;
        min-width:$min-width;
        width: 100%;
        height: 80px;
        border: 0px solid red;
        .subtitle{
            font-size: 25px;
            font-weight: bold;
        }
    }
    

}

