.title-bar{
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid rgb(214, 214, 214);
    

    .item{
        
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 40px;
        justify-content: center;

        .title{
            font-family: Ubuntu-Bold;
            font-size: 1rem;
            line-height: 1.2;
            text-align: center;
            width: 100%;
            // display: flex;
            
        }
        .back{
            display: flex;
            align-items: center;
            width: 30px;
            cursor: pointer;
            // border: 1px solid red;
        }

        .empty{
            width: 50px;
        }
        
    }


  
}

