@import '../../styles/Root.scss';
.app-title {
    width: 100%;
    max-width: $max-width;
    min-width: $min-width;
    position: fixed;
    z-index: 1000;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    .app-title-main {
        display: flex;
        align-items: center;

        width: 100%;
        height: 40px;
        .app-title-content {
            width: 100%;
            max-width: $max-width;
            min-width: $min-width;
            color: black;
            font-size: 16px;
            font-weight: 500;
            padding: 0px 24px;
            box-sizing: border-box;

            margin: 0 auto;

            display: flex;
            align-items: center;
            justify-content: space-between;
            .notice {
                width: 24px;
                height: 24px;
                box-sizing: border-box;
            }
            .app-title-location {
                font-weight: bold;
            }
            .app-title-notification,
            .app-title-location-button {
                display: flex;
                align-items: center;
                position: relative;
                align-items: center;
                cursor: pointer;
            }

            .app-title-notification > img,
            .app-title-location-button > img {
                width: 24px;
                height: 24px;
            }

            .app-title-notification.unread::after {
                content: '';
                width: 8px;
                height: 8px;
                background-color: #a61332;
                border-radius: 50%;
                position: absolute;
                top: 0;
                right: 0;
            }

            .app-title-location {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                margin: 0 24px;
            }
        }
    }
    &.not_view {
        display: none;
    }
}
