@import '../../styles/Root.scss';

.title-bar {
    width: 100%; height: 40px;
    background-color: #fff;
    z-index: 1000;
    position: fixed;
    top: 0px; left: 0px;
    .item {
        @include flex-center(space-between);
        max-width: $max-width;
        margin: 0 auto;
        padding: 0 24px;
        width: 100%; height: 100%;
        .title {
            font-size: 18px;
            text-align: center;
            color: #444;
            @include flex-center(center);
            height: 40px;
        }
        .empty, .back {
            width: 80px;
            @include flex-center(inherit);
            height: 40px;
            .back-button {
                width: 24px; height: 24px;
            }
        }
        .empty {
            justify-content: flex-end;
        }
        .back {
            justify-content: flex-start;
        }
    }
}