@import '../../styels//Root.scss';
.app-title{
    .app-title-main{
        display: flex;
        align-items: center;

        width: 100%;
        height: 30px;
        background-color:rgb(161, 161, 161); ;
        border: 1px solid rgb(161, 161, 161);
        .app-title-content{

            max-width: $max-width;
            min-width:$min-width;
            color:black;
            font-size:14px;
            
            .app-title-location{
                padding: 0px 20px;
                cursor: pointer;
            }
    
        }
    }
}

