@import '../../styles/Root.scss';

.container {
    @include wireframe(80px);
    .content {
        padding: $padding-all;
        color: #777;
        font-size: 12px;
        line-height: 24px;
    }
}
