@import '../../styles/Root.scss';

html {
    body {
        .tab-item {
            // border:1px solid red !important;
            font-size: 14px;
            min-height: 40px;
            padding: 0 10px;
            display: flex;
            // padding: 0 24px !important;
            &.center {
                flex: 1 1 0;
                max-width: 100%;
            }
        }
    }
}
html {
    body {
        .tabs {
            padding: 0 24px;
            width: 100%;
            max-width: 768px;
            min-height: 40px;
            margin: 0 auto;
            top: 40px;
            left: 0;
            right: 0;
            background-color: #fff;
            position: fixed;
            z-index: 99;
        }
    }
}

:global .MuiTab-textColorPrimary.Mui-selected {
    color: $main-color !important;
    font-weight: bold;
}
