@import '../../styles/Root.scss';


.tab-menu{
    display: table; /* 핵심! */
    width: 100%;
    font-size: $font-size;
    max-width: $max-width;
    margin: 0 auto;
    top:40px;
    // margin-top: $mg-top;
    background-color:#fff;
    position: fixed;
    z-index: 99;
    height: 40px;
}
