@import '../../styles/Root.scss';
.reserve-tab{
        max-width: $max-width;
        min-width: $min-width;
        margin: 0 auto;
        .container{
                padding: $padding-side;
        }
}

