@import '../../styles/Root.scss';
.container{
        @include wireframe(80px);
        .pd-box{
                padding: $padding-all;
        }
        .title{
                font-size:20px;
                font-weight: bold;
                color:#444;
        }
}

