@import '../../styles/Root.scss';

.container {
    max-width: $max-width;
    min-width: $min-width;
    padding: 0 $padding-all;
    margin: 0 auto;
    padding-top: $mg-top40;
    &.no-padding-header {
        padding-top: 0;
    }
    .title {
        font-size: 18px;
        font-weight: bold;
        color: #444;
        margin: 24px 0;
    }
    .addr-input {
        position: relative;
        .input-box {
            width: 100%;
            height: 56px;
            border: 1px solid #dbdbdb;
            border-radius: 10px;
            padding: 10px;
        }
        .search-btn {
            cursor: pointer;
            width: 24px;
            height: 24px;
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
            svg {
                width: 100%;
                height: 100%;
                fill: $main-color;
            }
        }
    }
    .addr-list {
        display: flex;
        flex-direction: column;
    }
    .location-btn {
        border: 1px solid $main-color;
        display: flex;
        border-radius: 10px;
        color: $main-color;
        justify-content: center;
        align-items: center;
        height: 50px;
        margin: 16px 0;
    }
}

.recently-title {
    color: #444;
    height: 48px;
    font-size: 16px;
    background-color: #F9F9F9;
    display: flex;
    align-items: center;
    padding: 0 24px;
    max-width: $max-width;
    margin: 0 auto;
}

.addrs-box {
    display: flex;
    flex-direction: column;

    .addrs-list {
        width: auto;
        height: 500px;
        border: 1px solid black;
    }
    .modal-input {
        width: 100%;
        height: 50px;
        margin-top: 10px;
    }
}

.setting-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    border: 1px solid black;
    padding: 2px;
}
