@import '../../styels/Root.scss';

.user-info{
    width: 100%;
    height: 120px;
    margin-top: $mg-top;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: $font-size;
    .profile{
        width: 100px;
        display: flex;
        justify-content: center;;

    }
    .info{
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .point {
            margin-top: 10px;
            border: 1px solid #EBEBEB;
            border-radius: 16px;
            box-sizing: border-box;
            width: 152px;
            height: 32px;
            text-align: center;
            padding-top:7px;
        }
        .name{
            span{
                font-weight: bold;
            }
        }
    }

    .link{
        display: flex;
        justify-content: center;
        width: 50px;
    }


}
.tab{
    display: flex;
    flex-direction: column;
    .pd-box{
        &:not(:first-child){
            border-top : 1px solid #F9F9F9;
        }
    }
    .item{
        width: 100%;
        height: 48px;
        display: flex;
        align-items: center;
        font-size: $font-size;
         
    }

}
.pd-box{
    padding: 0 24px;
}

.pd-left{
    padding-left :24px;
}
.pd-right{
    padding-right: 24px;
}