.reserve-custom-order{
    width: 100%;
    border: 0px solid black;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title-msg{
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        margin: 20px 0 20px 0;
    }
    .custom-btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 50px;
        border: 1px solid black;
        margin: 20px 0 20px 0;
        cursor: pointer;

    }
}