@import '../../styles/Root.scss';

.container{
    @include wireframe(40px);
    padding:$padding-side;
    .content{
        text-align: center;
        padding-top:$pd-top40;
        min-height: 80vh;

        .text{
            font-size: 14px;
            word-break: keep-all;
            margin-top:50px;
            p{
                color:#777777;
            }
        }
        .user{
            color:#222222;
            font-size: 18px;
            font-weight: bold;
            padding: 15px 0;
        }
        .input{
            padding: 65px 0;
        }
    }
    .btn-box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

        .btn{
            width: 100%;
            height: 56px;
            display: flex;
            justify-content: center;
            align-items: center;
            border:1px solid $main-color;
            color:#fff;
            background-color:$main-color;
            margin:5px 0;
            border-radius: 10px;
            font-size: 16px;
            &:last-child{
                background-color:#fff;
                color:$main-color;

            }
        }
        
    }
}



//회원가입창 비밀번호 일치 불일치
.compare {
    font-size: 12px;
    color: #a61332;
    text-align: left;
    margin-bottom: 30px;
    overflow: hidden;
    transition: all 0.15s ease-in-out;
    height: 20px;
    &.on {
        font-size: 12px;
        color: $main-color;
        margin-bottom: 30px;
    }
    &.not_view {
        height: 0px;
    }
}
