@import '../../styles/Root.scss';
.container {
    @include wireframe(40px);
    .content {
        padding-top: $pd-top40;
        .box {
            border: 0px solid red;
        }
    }
}
.pd-box {
    padding: $padding-side;
}
