@import '../../styles/Root.scss';
.sign{
    height: 100vh;
    border:1px;
    background-color:white;
}

//로그인 회원가입 정보찾기에 관한 모든 메인
.sign-main{
    max-width: $max-width;
    position: relative;
    margin: 0 auto;
    margin-top: $mg-top40;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: $padding-all;
    background-color:#fff;
    .sign-content{
        width: 100%;
        background: #fff;
        border-radius: 10px;
        position: relative;
        //로그인 창에서 회원가입 / 아이디찾기 / 비밀번호 찾기 영역
        .link-table{
            display: table; 
            width: 100%;
            //링크 테이블 셀
            .table-cell{
                display: table-cell;
                position: relative;
                width :100px;
                vertical-align: middle; 
                text-align: center;
                padding:3px 0;

                & + div::after{
                    border-right: 1px solid #dbdbdb;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    content: "";
                    height: 12px;
                }
            }

      }
        .login-btn{
            margin: 35px 0;
        }
        .img{
            border: 0px solid red;
            display: flex;
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    //휴대폰 인증 버튼
    .auth-btn{
        overflow: hidden;
        transition:opacity .3s ease-in-out;
        height: 135px;
        opacity: 1;
        &.not_view {
        opacity: 0;
            // height: 0px;
        }
    }
}

//회색 글씨
.sub-text{
    font-size: 12px;
    color: #999999;
    line-height: 1.2;
    position: relative;
    cursor: pointer;
}

// 로그인창 소셜 로그인
.social{
    margin-top: 50px;
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;

    .sns{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        margin: 20px 0 20px 0;
        img{
            width: 50px;
        }
    }
    
}


//회원가입 창 동의서
.agree{
    max-width: $max-width;
    width: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin: 50px 0;

    //회원가입 수신 동의서 백그라운드 
    .background{
        border: 0px solid red;
        background-color: #EBEBEB;
        height: 220px;
    
        label{
            color:#777777;

        }
    }

    //SMS 알림
    .sms{
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 24px;
    }
}


//회원가입창 비밀번호 일치 불일치
.compare{
    font-size: 12px;
    color:#A61332;
    margin-bottom:30px;
    overflow: hidden;
    transition:all .15s ease-in-out;
    height: 20px;
    &.on{
        font-size: 12px;
        color:$main-color ;
        margin-bottom:30px;
    }
    &.not_view {
        height: 0px;
    }
}

// 회원정보 찾기 링크

.recovery-box{
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;


}
.link{
    width: 100%;
    height: auto;
    cursor: pointer;
}


.pd-none{
    padding: 0;
}
.pd-box{
    padding: 0 24px;
}
.pd-top{
    padding:45px 24px;
}
.pd-sub-top{
    padding: 20px 24px;
}
.line{
    border-top : 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    label{
        color: #444444;
        font-size: 20px;
        font-weight: bold;
    }
}