@import '../../styels/Root.scss';
.sign-main{
    max-width: $max-width;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: $padding;
    .sign-content{
        width: 485px;
        background: #fff;
        border-radius: 10px;
        position: relative;
        .recovery-table{
            display: table; 
            width: 100%;

            .table-cell{
                display: table-cell;
                position: relative;
                width :100px;
                vertical-align: middle; 
                text-align: center;
                padding:3px 0;

                & + div::after{
                    border-right: 1px solid #dbdbdb;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    content: "";
                    height: 12px;
                }
            }
        .line{
            width: 1px;
            height: 1px;
            .vertical-line{
                box-sizing: border-box;
                height: 12px;
                background-color:#DBDBDB;
               
            }
        }
      }
        .btn-box{
            margin: 35px 0;
        }
        .img{
            border: 0px solid red;
            display: flex;
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
    .auth-box{
        overflow: hidden;
        transition:opacity .3s ease-in-out;
        height: 135px;
        opacity: 1;
        &.not_view {
        opacity: 0;
            // height: 0px;
        }
    }
}

.sub-text{
    font-size: 12px;
    color: #999999;
    line-height: 1.2;
    position: relative;
    cursor: pointer;
}

// 로그인창 소셜 로그인
.social{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;

    .sns{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        margin: 20px 0 20px 0;
        img{
            width: 50px;
        }
    }
    
}


//회원가입 창 동의서
.agree{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
    .item{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        .sub{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-bottom: 24px;
            padding-top:3px; 
            input{

            }
        }
    }

    .box{
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
    }
}


//회원가입창 비밀번호 일치 불일치
.compare{
    font-size: 12px;
    color:#A61332;
    margin-bottom:30px;
    overflow: hidden;
    transition:all .15s ease-in-out;
    height: 20px;
    &.on{
        font-size: 12px;
        color:$main-color ;
        margin-bottom:30px;
    }
    &.not_view {
        height: 0px;
    }
}
// 회원정보 찾기 링크

.recovery-box{
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;


}
.link{
    width: 100%;
    height: auto;
    cursor: pointer;
}


.check input[type="checkbox"] {
	display:none;
}

.check label{
	width:100%;
}

.check input[type="checkbox"] + label svg {
    margin-right: 17px;

}
.check input[type="checkbox"]:checked + label .chk_img {
}