@import '../../styles/Root.scss';

//로그인 회원가입 정보찾기에 관한 모든 메인
.container{
    @include wireframe(40px);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color:#fff;
    .content{
        width: 100%;
        background: #fff;
        position: relative;
        margin-top:$mg-top40;
        //로그인 창에서 회원가입 / 아이디찾기 / 비밀번호 찾기 영역
        .link-table{
            display: table; 
            width: 100%;
            //링크 테이블 셀
            .table-cell{
                display: table-cell;
                position: relative;
                width :100px;
                vertical-align: middle; 
                text-align: center;
                padding:3px 0;

                & + div::after{
                    border-right: 1px solid #dbdbdb;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    content: "";
                    height: 12px;
                }
            }

      }
        .login-btn{
            margin: 35px 0;
        }
        .success-img{
            display: flex;
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    //휴대폰 인증 버튼
    .auth-btn{
        overflow: hidden;
        transition:opacity .3s ease-in-out;
        height: 135px;
        opacity: 1;
        &.not_view {
        opacity: 0;
            // height: 0px;
        }
    }
}

//회색 글씨
.sub-text{
    font-size: 12px;
    color: #999999;
    line-height: 1.2;
    position: relative;
    cursor: pointer;
}

// 로그인창 소셜 로그인
.social{
    margin-top: 50px;
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;

    .sns{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        margin: 20px 0 20px 0;
        img{
            width: 50px;
        }
    }
}


//회원가입 창 동의서
.agree{
    max-width: $max-width;
    width: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    background-color: #EBEBEB;
    label{
        color:#777777;
    }


    //SMS 알림
    .sms{
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 24px;
    }
}


//회원가입창 비밀번호 일치 불일치
.compare{
    font-size: 12px;
    color:#A61332;
    margin-bottom:30px;
    overflow: hidden;
    transition:all .15s ease-in-out;
    height: 20px;
    &.on{
        font-size: 12px;
        color:$main-color ;
        margin-bottom:30px;
    }
    &.not_view {
        height: 0px;
    }
}

.min-height{
    min-height: 0;
}
.pd-none{
    padding: 0;
}
.pd-box{
    padding: 0 24px;
}
.pd-sub-top{
    padding: 20px 24px;
}
.border-box{
    border-top : 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    background-color:#fff;
    label{
        color: #444444;
        font-size: 20px;
        font-weight: bold;
    }
}