@import '../../styles/Root.scss';

//로그인 회원가입 정보찾기에 관한 모든 메인
.container {
    @include wireframe(40px);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    &.center{
        align-items: center;
    }
    .content {
        width: 100%;
        background: #fff;
        position: relative;
        padding:$padding-side;
        padding-top: 40px;
        padding-bottom: 40px;
        //로그인 창에서 회원가입 / 아이디찾기 / 비밀번호 찾기 영역
        .link-table {
            display: table;
            position: relative;
            width: 100%;
            //링크 테이블 셀
            .table-cell {
                display: table-cell;
                position: relative;
                width: 100px;
                vertical-align: middle;
                text-align: center;
                padding: 3px 0;

                & + div::after {
                    border-right: 1px solid #dbdbdb;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    content: '';
                    height: 12px;
                }
            }
        }
        .login-btn {
            margin: 35px 0;
        }
        .success-img {
            display: flex;
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    //휴대폰 인증 버튼
    .auth-btn {
        overflow: hidden;
        transition: opacity 0.3s ease-in-out;
        height: 135px;
        opacity: 1;
        &.not_view {
            opacity: 0;
            // height: 0px;
        }
    }
}

//회색 글씨
.sub-text {
    font-size: 12px;
    color: #999999;
    line-height: 1.3;
    position: relative;
    cursor: pointer;
}

.sns-box{
    padding:$padding-side;
    .social-login{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 100px;
        .text{
            color:#999;
            font-size: 14px;
            width: 100px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:white;
            z-index: 1;
        }
        .line{
            border:1px solid #EBEBEB;
            border-radius: 2px;
            width: 100%;
            position: absolute;
        }
    }
}
// 로그인창 소셜 로그인
.social {
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .sns {
        width: 100%;
        height: 64px;
        display: flex;
        justify-content: center;
        margin: 20px 0 20px 0;
        img {
            width: 64px;
            height: 64px;
        }
    }
}

//회원가입 창 동의서
.agree {
    max-width: $max-width;
    width: 100%;
    // position: absolute;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 30px;
    
    .all-box {
        padding: 0 14px;
        background-color: #fff;
        border: solid 1px #ccc;
        border-radius: 6px;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
    }
    //SMS 알림
    .sms {
        margin-top: 24px;
        margin-left: 32px;
    }
}

//회원가입창 비밀번호 일치 불일치
.compare {
    font-size: 12px;
    color: #a61332;
    margin-bottom: 30px;
    overflow: hidden;
    transition: all 0.15s ease-in-out;
    height: 20px;
    &.on {
        font-size: 12px;
        color: $main-color;
        margin-bottom: 30px;
    }
    &.not_view {
        height: 0px;
    }
}


.pd-none{
    padding-top: 0 !important;
}
.pd-box {
    padding: 0 24px;
}
.pd-sub-top {
    padding: 20px 14px;
}
.border-box {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    background-color: #fff;
    label {
        color: #444444;
        font-size: 20px;
        font-weight: bold;
    }
}
